body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: white;
}

h1 {
  margin-bottom: 1rem;
}

.theme-picker {
  border-width: 2px;
  border-style: solid;
  border-color: #c76621;
  background-color: #fff4e0;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  margin-bottom: 2rem;

  legend {
    font-weight: bold;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: #c76621;
  background-color: #fff4e0;
  border-radius: 0.5rem;
  padding: 1rem;

  @media (min-width: 1024px) {
    justify-content: space-between;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;

    .item {
      width: 50%;
      box-sizing: border-box;
    }
  }
}

.item {
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: blue;

  @media (min-width: 1024px) {
    flex-basis: calc((100% / 3) - (2 / 3 * 2rem) - 3rem);

    &:nth-child(5) {
      margin-left: auto;
    }
  }
}

body:has(input[value="red"]:checked) {
  .container {
    @media (min-width: 1024px) {
      justify-content: space-between;
      gap: 1rem;
    }

    @media (max-width: 1023px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }

    .item {
      background-color: red;

      @media (min-width: 1024px) {
        flex: 1 1 0;
      }

      @media (max-width: 1023px) {
        flex: 1 1 45%;
      }

      &:nth-child(1) {
        order: 1;
        font-weight: bold;

        @media (min-width: 1024px) {
          flex: 2 1 0;
        }

        @media (max-width: 1023px) {
          flex: 1 1 100%;
        }

        &::after {
          content: "Jestem większy i na środku!";
          display: block;
          font-size: 0.8em;
          color: white;
          font-weight: normal;
        }
      }

      &:nth-child(4) {
        order: 1;
      }

      &:nth-child(5) {
        order: 1;
      }
    }
  }
}

body:has(input[value="green"]:checked) {
  .container {
    @media (min-width: 1024px) {
      justify-content: space-between;
      gap: 1rem;
    }

    @media (max-width: 1023px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      gap: 1rem;
    }

    .item {
      background-color: green;

      &:nth-child(1) {
        position: relative;

        &::before,
        &::after {
          content: "\1F600";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 2em;
          line-height: 0;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }

        @media (min-width: 1024px) {
          flex: 5 1 0;
        }

        @media (max-width: 1023px) {
          width: 85%;
        }
      }

      &:nth-child(2) {
        @media (min-width: 1024px) {
          flex: 4 1 0;
        }

        @media (max-width: 1023px) {
          width: 75%;
        }
      }

      &:nth-child(3) {
        @media (min-width: 1024px) {
          flex: 3 1 0;
        }

        @media (max-width: 1023px) {
          width: 65%;
        }
      }

      &:nth-child(4) {
        @media (min-width: 1024px) {
          flex: 2 1 0;
        }

        @media (max-width: 1023px) {
          width: 45%;
        }
      }

      &:nth-child(5) {
        @media (min-width: 1024px) {
          flex: 1 1 0;
        }

        @media (max-width: 1023px) {
          width: 35%;
        }
      }
    }
  }
}
